.baner{
    background-color: #9A6000;
    color: white;
    text-align: center;
    padding: 20px;
}

.lewy{
    width: 60%;
    float: left;
}

.prawy{
    background-color: #c47a00;
    color: white;
    width: 40%;
    height: 100vw;
    float: left;
}

h3{
    text-align: center;
}

ul{
    margin: 10px;
}

